/* stylelint-disable @stylistic/selector-list-comma-newline-after */

/*=========================================
2.1. San Francisco Font (Apple's new font)
=========================================== */
.text-apple,
.bg-apple {
  font-family: 'San Francisco', helvetica, arial, sans-serif; }

/* Ultra Light */
@font-face {
  font-family: 'San Francisco';
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2"); }

/* Thin */
@font-face {
  font-family: 'San Francisco';
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2"); }

/* Regular */
@font-face {
  font-family: 'San Francisco';
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff2"); }

/* Bold */
@font-face {
  font-family: 'San Francisco';
  font-weight: bold;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2"); }


  .bd-placeholder-img {
        font-size: 1.125rem !important;
        text-anchor: middle !important;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        user-select: none !important;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem !important;
        }
      }

      .b-example-divider {
        width: 100% !important;
        height: 3rem !important;
        background-color: rgba(0, 0, 0, .1) !important;
        border: solid rgba(0, 0, 0, .15) !important;
        border-width: 1px 0 !important;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15) !important;
      }

      .b-example-vr {
        flex-shrink: 0 !important;
        width: 1.5rem !important;
        height: 100vh !important;
      }

      .bi {
        vertical-align: -.125em !important;
        fill: currentColor !important;
      }

      .nav-scroller {
        position: relative !important;
        z-index: 2;
        height: 2.75rem !important;
        overflow-y: hidden !important;
      }

      .nav-scroller .nav {
        display: flex !important;
        flex-wrap: nowrap !important;
        padding-bottom: 1rem !important;
        margin-top: -1px !important;
        overflow-x: auto !important;
        text-align: center !important;
        white-space: nowrap !important;
        -webkit-overflow-scrolling: touch !important;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9 !important;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846 !important;

        --bs-btn-font-weight: 600 !important;
        --bs-btn-color: var(--bs-white) !important;
        --bs-btn-bg: var(--bs-gray) !important;
        --bs-btn-border-color: var(--bs-gray) !important;
        --bs-btn-hover-color: var(--bs-white) !important;
        --bs-btn-hover-bg: #6528e0 !important;
        --bs-btn-hover-border-color: #6528e0 !important;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb) !important;
        --bs-btn-active-color: var(--bs-btn-hover-color) !important;
        --bs-btn-active-bg: #5a23c8 !important;
        --bs-btn-active-border-color: #5a23c8 !important;
      }

      .bd-mode-toggle {
        z-index: 1500  !important;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }



.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem  !important;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.post-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
  color:grey !important;
}

.post-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

p {
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-weight:300;
  line-height:2.2rem;
  font-size:1.1rem;

}

.p-lede {
  font-size:1rem;
  line-height:1.5rem;
}

.b-header {
  position:sticky !important;
  top:0 !important;
  width:100%;
  height:100px;
  z-index:99;
  background-color: --bs-body-bg;
}

.p-about {
  line-height:1.5rem;
  font-size:1rem;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}
